h1 {
    margin-top: 4%;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    text-align: center;
}

.content{
    margin-top: 4%;
}

h4{
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
}

h5{
    color: black;
    font-size: 18px;
    font-weight: 500;
}
